<!DOCTYPE html>
<html lang="en"> 
  <head>
    <title>Home Page</title>
    <!-- NORMALIZER -->
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
   
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <!-- App NAV CSS -->
    <link rel="stylesheet" href="/styles/nav.css" type="text/css" />
    <!-- App Layout CSS -->
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <style>
        /* Always set the map height explicitly to define the size of the div
         * element that contains the map. */
        #map {
          height: 600px;
          width: inherit;
          margin: 0px auto 0px auto;
          /* top: 3em; */
        }
        /* Optional: Makes the sample page fill the window. */
        html, body {
          height: 100%;
          margin: 0;
          padding: 0;
        }
      </style>
  </head>

  <body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">CuteMap</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#">Maps</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
          <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
      </div>
    </nav>
    <div class='container'>
      <div class="row">
        <div class="col" style='background-color:lightslategray'>
          <!-- 1 of 1 -->
          <div class='col' id="map"></div>
          <script src="/scripts/initmap.js"></script>
          <script async defer
          src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAGvUWB72E3Dszv0iI8pkFtbLj7BonXvTU&callback=initMap">
          </script>
        </div>
      </div>
      <div class='row' id='meta-pane' style='background-color:gray'>
        <div class='col-sm-3'>
          
          <h3><span class="glyphicon glyphicon-user"></span>Handle</h3>
        </div>
        <div class='col-sm-6'>
          <h2 style='text-align: center'>Map name</h2>
        </div>
        <div class='col-sm-3'>
          
          <h1 style='text-align: right'><span class="glyphicon glyphicon-star" ></span></h1>
        </div>
      </div>
      <div class='row' id='browser-pane' style='background-color:lightgray'>
        
        <div class='col-sm-9'>
          
        </div>
        <div id='profile-pane' class='col-sm-3'>
          
         
        </div>
      </div>
    </div>
    
    
    <section id='utility-section'></section>
    <section id='browsing-section'></section>

  </body>
</html>
