<!DOCTYPE html>
<html lang="en"> 
  <head>
    <title>Home Page</title>
    <!-- NORMALIZER -->
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script 
          src="https://maps.googleapis.com/maps/api/js?key=<%= process.env.GOOGLE_API_KEY%>&callback=initMap">
    </script>
    <script type="text/javascript" src="/scripts/initmap.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <!-- App NAV CSS -->
    <link rel="stylesheet" href="/styles/nav.css" type="text/css" />
    <!-- App Layout CSS -->
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <style>
        /* Always set the map height explicitly to define the size of the div
         * element that contains the map. */
        
      </style>
  </head>

  <body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">CuteMap</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#maplist">Maps</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
          <li id='login-btn'><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
      </div>
    </nav>
    
   
      
    <div class='container'>
        <div class='row' id='login-pane'>
        
          <div class='col-sm-4 col-sm-offset-8'>
            <div id='login-window'>
              <table>
                <tr>
                  <td>
                    <form action="/login" method="POST" >
                    <label for="email">Enter e-mail: </label>
                  </td>
                  <td><input id="email" type="text" name="email" placeholder="E-mail" style="width: 300px"></td>
                </tr>
                <tr>
                  <br>
                  <td><label for="password">Select password: </label></td>
                  <td><input id="password" type="text" name="password" placeholder="********" style="width: 300px"></td>
                </tr>
              </table>
              <br>
              <td><input class='btn btn-secondary submit-button' type="submit" value="Submit"></td>
            </div>
          </div>    
        </div>

      <div class="row">
        <div id='map-background' class="map-background map" style='background-color:#424242'>
          <div class='col map' id="map"></div>

            <!-- form start -->
            <div id="form">
              <table>
              <tr><td>Name:</td> <td><input type='text' id='name'/> </td> </tr>
              <tr><td>Address:</td> <td><input type='text' id='address'/> </td> </tr>
              <tr><td>Description:</td> <td><input type='text' id='description'/> </td> </tr>
              <tr><td>Image URL:</td> <td><input type='text' id='imgsrc'/> </td> </tr>
              <tr><td>Type:</td> <td><select style='float: right' id='type'> +
                         <option value='Food' SELECTED>Food</option>
                         <option value='Entertainment'>Entertainment</option>
                         <option value='Entertainment'>Nature</option>
                         <option value='Custom'>Custom</option>
                         </select> </td></tr>           
                         <tr><td></td>
                          <div style='display: inline-block'> 
                            <td><input type='button' value='Save' onclick='saveData()'/>
                            <!-- <input type='button' value='Edit' onclick='doNothing()'/>
                            <input type='button' value='Save' onclick='doNothing()'/></td> -->
                            <td></td>
                         </div>
                        </tr>
                         <!-- onclick='saveData()'--> 
              </table>
              <div style='visibility: hidden' id="message">Location saved</div>
              
            </div>
            



        </div>
      </div>
      <div class='row' id='meta-pane' style='background-color:#424242'>
        <div class='col-sm-3'>
          
          <a><h3><span class="glyphicon glyphicon-user"></span>Handle</h3></a>
        </div>
        <div class='col-sm-6'>
          <h2 style='text-align: center'>Map name</h2>
        </div>
        <div class='col-sm-2'>
          
          <h1 style='text-align: right'><span class="glyphicon glyphicon-star" ></span></h1>
          
        </div>
        <div class='col-sm-1' style='vertical-align:bottom; height: inherit'>
          
          
        
          
        </div>
      </div>
      <div class='row' style="background-color:#424242">
        <div class='col-sm-10'>
          <div id="filter-buttons"class="btn-group">
            <button type="button" class="btn btn-primary">All</button>
            <button type="button" class="btn btn-primary">Food</button>
            <button type="button" class="btn btn-primary">Entertainment</button>
            <button type="button" class="btn btn-primary">Nature</button>
            <button type="button" class="btn btn-primary">Custom</button>
          </div>
        </div>  
        <div class='col-sm-2'>
        <button id="my-profile" style= "visibility: hidden; ">My Profile</button>
        <button id="toggle-profile-panel" style= "visibility: hidden; margin-right: 5px;" class="glyphicon glyphicon-chevron-down" ></button>
        </div> 
      </div>
      <div class='row' id='browser-pane' style='background-color:#424242'>
        
        <div class='col-sm-9'>
          <section id = maplist class='maplist-container'>
              <article class="maplisting">  
                
                    <img class="logo" src="https://vanillicon.com/788e533873e80d2002fa14e1412b4188_50.png" width="50px" height="50px">
                    <h3>Where to find dilly bars</h3>
                    
                    <footer>
                      <h4>@DanDangler</h4>
                      <h4>Victoria</h4>
                      <h4>Food</h4>
                    </footer>
                 
              </article> 
              
                  
          </section>
          
        </div>

        <div id="no-user" class = 'col-sm-3' style="text-align: center">
          <h3>Please Log In / Register</h3>

        </div>
        <div id='profile-pane' class='col-sm-3'>
          <div id='profile-toggle' style='visibility: hidden'>
            <div id='profile-header' style = 'text-align: center; padding: 5px 3px 3px 5px'>
              <img style = "float: left"src = "https://vanillicon.com/788e533873e80d2002fa14e1412b4188_50.png" />
              <h3>Handle</h3>
            </div>
              <div id='profile-body'>
                <div class="btn-group-vertical">
                  <button type="button" class="btn btn-primary">Created</button>
                  <button type="button" class="btn btn-primary">Contributed To</button>
                  <button type="button" class="btn btn-primary">Favorited</button>
                  <button id="newMap" type ="button" style='visibility:hidden'class="btn btn-primary">Create New Map</button>
                </div>
                <div id="create-map-form" style="padding: 5px; visibility: hidden">
                  <form>
                    <div class='form-group' style="margin-right: 20px;">
                      <div class="form-group">
                      <label for="name">Map Name</label>
                      <input type="name" class="form-control" id="mapNameNew" placeholder="My Map">
                      </div>
                      <div class="form-group">
                      <label for="city">City</label>
                      <input type="city" class="form-control" id="cityNew" placeholder="Victoria">
                      </div>
                      <div class="form-group" >
                        <label for="type">Type</label>
                        <select class="form-control" id="typeNew" style="margin-left: 10px">
                          <option>food</option>
                          <option>entertainment</option>
                          <option>nature</option>
                          <option>recreation</option>
                          <option>custom</option>
                        </select>
                      </div>
                      <button id="submit-new-map" class="btn btn-success" type="submit">Submit Map</button>
                    </div> 
                  </form>
                </div>
              </div>
            </div>
          </div>
         
        </div>
      </div>
    </div>
    
    
    <section id='utility-section'></section>
    <section id='browsing-section'></section>

  </body>
</html>
