#map {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 600px;
  width: inherit;
  margin: 0px auto 0px auto;
  /* top: 3em; */
}

/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #EEE;
}

body h1 {
  color: #244751;
}

input {
  margin-left: 1rem;
  margin-top: 0.5rem;
}

#type {
  margin-top: 0.5rem;
}

#meta-pane {
  height: 10rem;
}

#meta-pane a, #meta-pane a:visited, #meta-pane a:hover, #meta-pane a:active {
  color: inherit;
  cursor: pointer;
}

#browser-pane {
  height: 80rem;
}

#form {
  position: relative;
  display: none;
}

#profile-pane {
  border-radius: 10px;
  height: inherit;
  background-color: darkslategrey;
  padding: 0;
}

#profile-pane #profile-toggle {
  border-radius: 10px;
  height: inherit;
  position: relative;
  padding: 0px 0px 0px 0px;
  background-color: lightgray;
  z-index: 2;
}

#profile-pane #profile-toggle #profile-header {
  height: 75px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: slateblue;
  border-bottom: 2px;
  border-bottom-style: solid;
}

#profile-pane #profile-toggle #profile-header img {
  float: left;
  margin-top: 5px;
  border-radius: 10px;
}

#profile-pane #profile-toggle #profile-header h3 {
  text-align: center;
}

#profile-pane #profile-toggle #profile-body button {
  margin: 5px;
}

.map-background {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.maplisting {
  background-color: lightgray;
  border: 1px solid #eee;
  border-radius: 10px;
  margin: 0px 0px 1rem 0px;
  position: relative;
  color: #244751;
  height: 6em;
  align-content: center;
  z-index: 1;
  overflow: auto;
}

.maplisting h3 {
  top: 2rem;
  margin: 3rem 0px 0px 1rem;
  float: left;
}

.maplisting h4 {
  float: right;
  margin: 5rem 5rem 0px 0px;
}

.maplisting footer {
  float: right;
}

.logo {
  float: left;
  margin: 1.5rem auto auto 1.5rem;
  position: relative;
  border-radius: 10px;
}
