body {
  background-color: #EEE;

  h1 {
    color: #244751;
  }
}

#meta-pane {
  height: 10rem;
}

#browser-pane {
  height: 80rem;
}

#profile-pane {
  height: inherit;
  background-color: darkslategrey;

}