body {
  background-color: #EEE;

  h1 {
    color: #244751;
  }
}

#meta-pane {
  height: 10rem;
}

#browser-pane {
  height: 80rem;
}

#form {
  position: relative;
  display: none;
}

#profile-pane {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  height: inherit;
  background-color: darkslategrey;

}

.map-background{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#profile-toggle {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  height: inherit;
  position: relative;
  left: 15px;
  padding: 0px 0px 0px 0px;
  background-color: lightgray;
  z-index: 2;
}

.maplisting {
  background-color: lightgray;
  border: 1px solid #eee;
  border-radius: 10px;
  margin: 0px 0px 1rem 0px;
  position: relative;
  color: #244751;
  height: 6em;
  align-content: center;
  z-index: 1;
  overflow:auto;
  
  h3{
    // display: inline;
    top: 2rem;
    margin: 3rem 0px 0px 1rem;
    float: left;

    
  }

  h4{
    float: right;
    margin: 5rem 5rem 0px 0px;
  }

  footer{
    float: right;
  }

  
}

.logo {
  float: left;
  margin: 1.5rem auto auto 1.5rem;
  position: relative;
  border-radius: 10px;
}